@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
        html {
            scroll-behavior: smooth;
        }

        body, html {
            margin: 0;
            padding: 0;
            font-family: "Montserrat", sans-serif;
            background-color: #420b49a3;
        }

        .menu {
        background-color: #8c52ff;
        }

        .color-morado {
        color: #8c52ff;
        }

        .color-navegacion {
            color: #390040;
        }

        .contador {
            background-color: #390040a2;
        }

        .titulos {
            font-family: "Berkshire Swash", serif;
            text-align: center;
        }

        .nombre {
            font-size: 7rem;
        }

        .nombre2 {
            font-size: 2.5rem;
        }

        .nombre3 {
            font-size: 6rem;
        }

        .fondo-lula {
        background: #8c52ff;
        color: white
        }
        
        /* Estilos para las secciones */
        section {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
         }

        /* Navbar */
        .navbar {
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
        }

        /* Evitar que el menú oculte contenido */
        .spacer {
            height: 50px; /* Ajusta esto según la altura de tu navbar */
        }

        /* Video de fondo */
        video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ajusta el video para cubrir toda la pantalla */
            z-index: -1; /* Coloca el video detrás de otros elementos */
            }

            audio {
                position: fixed;
                bottom: 0;
                margin: 0 auto;
                z-index: 999;
                opacity: 0.5; /* Ajusta la opacidad según tu gusto */
            }

        /* Estilo del botón flotante de volver arriba */
        #btnVolverArriba {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #390040;
            color: white;
            border: 1px solid #fff;
            padding: 15px;
            border-radius: 40%;
            cursor: pointer;
            display: none;
            z-index: 9999;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        #btnVolverArriba:hover {
            background-color: #8c52ff;
        }

        .btn-morado {
            background: #8c52ff;
            color: #fff;
        }


        
        
